<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	{% javascripts '@AppBundle/Resources/public/js/*' %}
    		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
	{% stylesheets 'bundles/app/css/*' filter='cssrewrite' %}
    		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
        <title>{% block title %}Simmons Electric - Lighting and Electric in Southern, CA{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		<!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
		<section id="wrapper">
			<header id="header">
				{{ include('AppBundle::banner.html.twig') }}
				{{ include('AppBundle::navbar.html.twig') }}
			</header>
			{% block body %}{% endblock %}
			{% block javascripts %}{% endblock %}
			{% block stylesheets  %}{% endblock %}
			{{ include('AppBundle::footer.html.twig') }}
		</section>
    </body>
</html>
