{% set explosion = app.request.attributes.get('_route')|split('_') %}
{% set currentView = explosion[0] %}
{% block navigation %}
	<div class="container-fluid" id="navbar-container">
		<nav class="navbar navbar-inverse">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				<a class="navbar-brand" href="{{ path('home') }}">Simmons Electric</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar">
				<ul class="nav navbar-nav">
					<li {% if currentView == 'home' %}class="active"{% endif %} ><a href="{{ path('home') }}">Home</a></li>
					<li {% if currentView == 'services' %}class="active"{% endif %} ><a href="{{ path('services') }}">Services</a></li>
					<li {% if currentView == 'portfolio' %}class="active"{% endif %} ><a href="{{ path('portfolio') }}">Portfolio</a></li>
					<li {% if currentView == 'contact' %}class="active"{% endif %} ><a href="{{ path('contact') }}">Contact</a></li>
				</ul>
			</div>
		</nav>
	</div>
{% endblock %}